 * {
    margin:0;
    padding:0;
}
body{
    background:linear-gradient(to right,#c0fdff ,#deaaff);
}
h1,
div{
    text-align:center;

}
#container{
    border:1px solid hotpink;
    width:300px;
    height:400px;
    box-shadow:1px 2px 30px yellow;
    margin:20px auto;

}
#container input{
    width:90%;
    height:30px;
    margin-bottom:2px;
    border-radius: 5px;
    font-size: 28px;;
}
#container table{
    width:100%;
    height:92%;
    border:2px;
}
#container td{
    border:1px solid black;
    border-radius:5%;
}
#container td:active{
    
    transform:scale(0,9);
}